.create-article-page {
  padding: 7.5rem 14rem;

  .create-article-page__header {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    .error-message {
      color: red;
    }
  }

  .create-article-page__inputs {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .image-upload {
      display: flex;
      flex-direction: column;

      input {
        display: none;
      }

      .imported-image {
        position: relative;
        margin-top: 1rem;
        margin-right: auto;
        
        img {
          width: 20rem;
        }

        button {
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          background-color: lightgray;

          &:hover {
            background-color: white;
          }
        }
      }
      
    }
  }
}